<%- include("partials/header"); -%>

    <!-- custorm css -->
    <link rel="stylesheet" href="css/admin.css" />
    <link rel="stylesheet" href="css/employee.css" />

    <% if(user.role=='admin' ){ %>
        <%- include("partials/adminNavbar"); %>
            <% } else { %>
                <%- include("partials/employeeNavbar"); %>
                    <% } %>

                        <h1 class="main-heading">Grocery Management</h1>

                        <!-- Display Error -->
                        <% if(messages.error) {%>
                            <div class="alert alert-danger alert-dismissible fade show errors-div" role="alert">
                                <%= messages.error %>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                            <% } %>
                                <!-- Display Error -->
                                <!-- Display Success -->
                                <% if(messages.success) {%>
                                    <div class="alert alert-success alert-dismissible fade show errors-div"
                                        role="alert">
                                        <%= messages.success %>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                    <% } %>
                                        <!-- Display Success -->

                                        <!-- Add Modal Bootstarp -->
                                        <div class="modal fade" id="addGroceryModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Add Grocery Items
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/grocery" method="POST">
                                                            <div class="mb-3">
                                                                <label for="itemID" class="form-label">Item Code</label>
                                                                <input type="text" class="form-control" id="itemID"
                                                                    name="id" placeholder="Enter Grocery ID."
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemName" class="form-label">Item
                                                                    Name</label>
                                                                <input type="text" class="form-control" id="itemName"
                                                                    name="name" placeholder="Enter Grocery Name"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemMfd" class="form-label">Manufacturing
                                                                    Date</label>
                                                                <input type="text" class="form-control" id="itemMfd"
                                                                    name="mfd" placeholder="Enter Manufacturing Date"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemExp" class="form-label">Expiry
                                                                    Date</label>
                                                                <input type="text" class="form-control" id="itemExp"
                                                                    name="exp" placeholder="Enter Expiry Date"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemQty" class="form-label">Quantity</label>
                                                                <input type="text" class="form-control" id="itemQty"
                                                                    name="qty" placeholder="Enter Quantity"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemCP" class="form-label">Cost
                                                                    Price</label>
                                                                <input type="text" class="form-control" id="itemCP"
                                                                    name="cp" placeholder="Enter Purchasing Amount"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemSP" class="form-label">Selling
                                                                    Price</label>
                                                                <input type="text" class="form-control" id="itemSP"
                                                                    name="sp" placeholder="Enter Selling Amount"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <button type="reset"
                                                                class="btn btn-secondary">Reset</button>
                                                            <button type="submit" class="btn btn-primary">Save</button>
                                                        </form>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <div>Copyright &copy; 2021</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Add Modal Bootstarp -->

                                        <!-- Modify Modal Bootstarp -->
                                        <div class="modal fade" id="modifyGroceryModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Update Grocery
                                                            Items
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/modify_grocery" method="POST">
                                                            <div class="mb-3">
                                                                <label for="itemID" class="form-label">Item
                                                                    Code</label>
                                                                <input type="text" class="form-control itemId"
                                                                    id="itemID" name="id"
                                                                    placeholder="Enter Grocery ID."
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemName" class="form-label">Item
                                                                    Name</label>
                                                                <input type="text" class="form-control itemName"
                                                                    id="itemName" name="name"
                                                                    placeholder="Enter Grocery Name"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemMfd" class="form-label">Manufacturing
                                                                    Date</label>
                                                                <input type="text" class="form-control itemMfd"
                                                                    id="itemMfd" name="mfd"
                                                                    placeholder="Enter Manufacturing Date"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemExp" class="form-label">Expiry
                                                                    Date</label>
                                                                <input type="text" class="form-control itemExp"
                                                                    id="itemExp" name="exp"
                                                                    placeholder="Enter Expiry Date"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemQty" class="form-label">Quantity</label>
                                                                <input type="text" class="form-control itemQty"
                                                                    id="itemQty" name="qty" placeholder="Enter Quantity"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemCP" class="form-label">Cost
                                                                    Price</label>
                                                                <input type="text" class="form-control itemCp"
                                                                    id="itemCP" name="cp"
                                                                    placeholder="Enter Purchasing Amount"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="itemSP" class="form-label">Selling
                                                                    Price</label>
                                                                <input type="text" class="form-control itemSp"
                                                                    id="itemSP" name="sp"
                                                                    placeholder="Enter Selling Amount"
                                                                    autocomplete="off" />
                                                            </div>
                                                            <input type="hidden" name="dbId" class="dbId">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <button type="reset"
                                                                class="btn btn-secondary">Reset</button>
                                                            <button type="submit" class="btn btn-primary">Save</button>
                                                        </form>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <div>Copyright &copy; 2021</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modify Modal Bootstarp -->

                                        <!-- Delete Modal Bootstarp -->
                                        <div class="modal fade" id="deleteGroceryModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <div class="modal-body">
                                                        <form action="/delete_grocery" method="POST">
                                                            <h3>Do you want to delete?</h3>
                                                            <h5 class="itemName"></h5>
                                                            <br>
                                                            <input type="hidden" name="itemId" class="itemId" />
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                            <button type="submit"
                                                                class="btn btn-primary">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Delete Modal Bootstarp -->

                                        <table class="empTable table table-striped">
                                            <thead>
                                                <tr class="table-dark">
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Mfd. Date</th>
                                                    <th scope="col">Exp. Date</th>
                                                    <th scope="col">Qty.</th>
                                                    <th scope="col">Cost Price</th>
                                                    <th scope="col">Selling Price</th>
                                                    <th><button class="addBtn" data-bs-toggle="modal"
                                                            data-bs-target="#addGroceryModal">Add
                                                            Record</button></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% data.forEach(Data=> { %>

                                                    <tr>
                                                        <td>
                                                            <%= Data.id %>
                                                        </td>
                                                        <td>
                                                            <%= Data.name %>
                                                        </td>
                                                        <td>
                                                            <%= Data.mfd %>
                                                        </td>
                                                        <td>
                                                            <%= Data.exp %>
                                                        </td>
                                                        <td>
                                                            <%= Data.qty %>
                                                        </td>
                                                        <td>
                                                            <%= Data.cp %>
                                                        </td>
                                                        <td>
                                                            <%= Data.sp %>
                                                        </td>
                                                        <td><i class="fas fa-edit update" data-bs-toggle="modal"
                                                                data-bs-target="#modifyGroceryModal"
                                                                onclick="modifyItem('<%=JSON.stringify(Data)%>')"></i>
                                                            <i class="fas fa-trash delete" data-bs-toggle="modal"
                                                                data-bs-target="#deleteGroceryModal"
                                                                onclick="deleteItem('<%=JSON.stringify(Data)%>')"></i>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>


                                        <script
                                            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

                                        <script>
                                            function deleteItem(Data) {
                                                const item = JSON.parse(Data.replace("\\", "\/"));
                                                $(".itemName").text(item.name);
                                                $(".itemId").val(item._id);
                                            }

                                            function modifyItem(Data) {
                                                const item = JSON.parse(Data.replace("\\", "\/"));
                                                $(".dbId").val(item._id);
                                                $(".itemId").val(item.id);
                                                $(".itemName").val(item.name);
                                                $(".itemExp").val(item.exp);
                                                $(".itemMfd").val(item.mfd);
                                                $(".itemQty").val(item.qty);
                                                $(".itemCp").val(item.cp);
                                                $(".itemSp").val(item.sp);
                                            }
                                        </script>
                                        <%- include("partials/footer") -%>