<!DOCTYPE html>
<html lang="en">

<head>
    <title>Generate Bill - Organic Grocery Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/invoice.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">



    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Override some Bootstrap CDN styles - normally you should apply these through your Bootstrap variables / sass -->
    <style>
        body {
            font-family: "Roboto", serif;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.4;
            color: #000000;
            margin: 0;
            padding: 0;
            background-color: rgb(252, 251, 250) !important;
        }

        h1,
        h2,
        h4,
        h5 {
            font-weight: 700;
            color: #000000;
            background-color: rgb(252, 251, 250) !important;
        }

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.6rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        h5 {
            font-size: 1rem;
        }

        .table {
            color: #000;
            background-color: rgb(252, 251, 250) !important;
        }

        .table td,
        .table th {
            border-top: 1px solid #000;
            background-color: rgb(252, 251, 250) !important;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }

        @page {
            margin-top: 2.5cm;
            margin-bottom: 2.5cm;
        }

        @page :first {
            margin-top: 0;
            margin-bottom: 2.5cm;
        }

        @media print {
            .print-btn-div {
                display: none;
            }
        }
    </style>

</head>

<body>

    <div style="background-color: #000000; height: 10px;"></div>

    <div class="container-fluid pt-2 pt-md-4 px-md-5">

        <!-- Invoice heading -->

        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td class="border-0">
                        <div class="row">
                            <div class="col-md text-center text-md-left mb-3 mb-md-0">
                                <img class="logo img-fluid mb-3" src="img/logo.PNG" style="max-height: 140px;" />
                                <br>

                                <h2 class="mb-1">Organic Grocery Store</h2>
                                K-210 Pitampura, New Delhi<br>
                                support@ogsportal.com / + 91 984 675 6884<br>
                                <strong></strong>
                            </div>

                            <div class="col text-center text-md-right">

                                <!-- Dont' display Bill To on mobile -->
                                <span class="d-none d-md-block">
                                    <h1>Billed To</h1>
                                </span>
                                <% if(session.bill){ %>

                                    <h4 class="mb-0">
                                        <%= session.bill.customer_name %>
                                    </h4>
                                    +91 <%= session.bill.customer_number %>
                                        <br />
                                        <% }else{%>
                                            <h4 class="mb-0">Customer Name</h4>
                                            +91 XXXXXXXXXX
                                            <br />
                                            <%} %>


                                                <h6 class="mb-0 mt-3">Date:</h6>
                                                <div id="currentDate"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Invoice items table -->
        <% if(session.bill){ %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Summary</th>
                        <th>Unit Price (₹)</th>
                        <th class="text-right">Total Price (₹)</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let invoiceItem of Object.values(session.bill.items)){ %>
                        <tr>
                            <td>
                                <h5 class="mb-1">
                                    <%= invoiceItem.item.name %>
                                </h5>
                                <%= invoiceItem.qty %> Pcs.
                            </td>
                            <td class="font-weight-bold align-middle text-nowrap">
                                <%= invoiceItem.item.sp %>
                            </td>
                            <td class="font-weight-bold align-left text-right text-nowrap">
                                <%= (invoiceItem.item.sp) * (invoiceItem.qty) %>
                            </td>
                        </tr>
                        <% } %>
                            <tr>
                                <td colspan="3" class="text-right border-0 pt-4">
                                    <h5>Grand Total: ₹ <%= session.bill.totalAmt %>
                                    </h5>
                                </td>
                            </tr>
            </table>
            <% }else{ %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Summary</th>
                            <th>Unit Price (₹)</th>
                            <th class="text-right">Total Price (₹)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5 class="mb-1"></h5>

                            </td>
                            <td class="font-weight-bold align-middle text-nowrap">

                            </td>
                            <td class="font-weight-bold align-left text-right text-nowrap">

                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" class="text-right border-0 pt-4">
                                <h5>Grand Total: ₹ 0
                                </h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <% } %>

                    <!-- Thank you note -->

                    <h5 class="text-center pt-2">
                        Thanks for visit ---- Have a nice Day!
                    </h5>
                    <form action="/print_bill/update" method="POST">
                        <div class="modal-footer print-btn-div">
                            <button type="submit" class="btn btn-light btn-custom"
                                onclick="window.print()">print</button>
                        </div>
                    </form>
    </div>

    <script>
        var d = new Date();
        document.getElementById("currentDate").innerHTML = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
    </script>
</body>

</html>